<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset=utf-8>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"></link>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/bootstrap/js/twitterjs.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript">
        $(document).ready(function()

        {

            $(".leftpane").mouseover(function() { $("#news").css('visibility','visible');});
            //$(".leftpane").mouseout(function() { $("#news").css('visibility','hidden'); });
            $(".leftpane").mouseover(function() { $("#twitter").css('visibility','visible'); });
            //$(".leftpane").mouseout(function() { $("#twitter").css('visibility','hidden'); });


        });
    </script>

    <script>
        function callAlert(id){
            alert(id);
        }
    </script>

</head>

    <title>TOP NEWS TRENDS.js</title>
    <body>
    <article>
        <div class="top">
            <h1><a href="#news">Top News Headlines</a><br>
            </h1></div>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Home</a>
                <ul class="nav">
                    <li class="active"><a href="#">U.S News</a></li>
                    <li><a href="Advanced">Advanced</a></li>
                    <li><a href="About me">Business</a></li>
                </ul>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <h2>In The News</h2>
                    <h5><ol>
                        {% for i in range(0, 8)%}
                            <div class="leftpane" id="{{i}}">
                            <li>{{key[i]}}</li>
                            <p class="muted">{{title[i]}}</p>
                            </div>
                        {%endfor%}
                    </ol></h5>

                </div>

                    <div class="span9" style="visibility:hidden">
                        <div id="news">
                            <ol>
                        {% for i in range(0, 5)%}
                                <strong><li><a href="{{link[i]}}">{{news2[i]}}</a></li></strong>
                                <p>{{summary2[i]}}</p>
                        {%endfor%}
                        </ol></div>
                        <div id="twitter"></div>
                        <script>
                            $('#twitter').twitterSearch({
                                term:  '{{x}}',
                                title: 'Incoming Tweets for {{x}}',
                                css: {
                                    img: {
                                        width: '30px', height: '30px'
                                    }
                                }
                            });</script>

                    </div>




            </div>

                </div>
            </div>
        </div>



    </article>

   <!-- <script>
        $('#1').mouseover(function() {
            $('#1').html("Your new text");

            });

    </script>
    <script>
        $('#1').mouseout(function() {
            ('#1').html("huahahah");
        });

    </script>-->


    </body>

</html>
